<template lang= "html">
  <footer class="uk-text-center">
      <p> 🔥  with  ❤️ Jean Pierre Giovanni Arenas Ortiz</p>
  </footer>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
  .uk-text-center{
    bottom: 0;
    height: 100px; /* valor que necesites */
    position: absolute;
    width: 100%
  }
</style>
