<template lang= "html">
  <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
    <h1 uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;">{{titulo}}</h1>
    <p  uk-parallax="opacity: 0,1;
     y: 100,0;
     scale: 0.5,1;
     viewport: 0.5;"
     >
     Quieres conocer tú peso en la luna. Solo tienes que escribir tu peso en la tierra.</p>
    <router-link class="uk-button uk-button-secondary" to="calcular">Calcular</router-link>
  </div>
</template>

<script>
export default {
    data () {
        return {
            titulo: 'Welcome to Moon',
        }
    }
}
</script>

<style lang="scss" scoped>

</style>
