<template>
  <div id="app">
    <div class="uk-height-large uk-background-cover uk-light" style="background-image: url('./src/assets/luna.jpg');">
      <calHeader></calHeader>
      <transition name="fade">
        <router-view></router-view>
      </transition>
    </div>
    <calFooter></calFooter>
  </div>
</template>

<script>
import calHeader from '@/components/layout/header.vue'
import calcularPeso from '@/components/calcularPeso.vue'
import calFooter from '@/components/layout/footer.vue'


export default {
  name: 'app',
  components: { calHeader, calFooter},
  data () {
    return {

    }
  }
}
</script>

<style lang="scss">
@import './src/scss/main.scss';

.uk-height-large{
  height: 600px;
}


</style>
